.projects-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 138px 48px 0px 48px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #000000;
  padding-top: 40px;
}

.projects h1 {
  font-family: var(--font-first);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -1px;
}

.projects-list {
  font-family: var(--font-first);
  font-size: 64px;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.projects-list li {
  border-bottom: 2px solid #000;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-btn {
  font-family: var(--font-first);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -1px;
}

.site-btn::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/Frame\ 3.svg');
  margin-bottom: 12px;
}

@media (max-width: 1000px) {
  .projects-container {
    padding-top: 124px;
  }
  .projects h1 {
    font-size: 28px;
  }
  .projects-list {
    font-size: 52px;
  }
  .site-btn {
    font-size: 28px;
  }
}

@media (max-width: 850px) {
  .projects-container {
    padding-top: 100px;
  }
  .projects h1 {
    font-size: 24px;
  }
  .projects-list {
    font-size: 42px;
  }
  .site-btn {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .projects {
    grid-template-columns: 1fr;
    font-size: 22px;
  }
  .site-btn {
    display: none;
  }
}

@media (max-width: 420px) {
  .projects-container {
    padding: 64px 24px 0px 24px;
  }
  .projects {
    padding-top: 20px;
  }
  .projects h1 {
    font-size: 20px;
  }
  .projects-list {
    font-size: 40px;
  }
}
