.header {
  padding: 2.5rem 3rem 0 3rem;
  background: linear-gradient(var(--color-green), var(--color-white));
  font-family: var(--font-first);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  font-size: 1.125rem;
  letter-spacing: -1.125px;
  font-weight: 600;
  line-height: 1;
}

.menu-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../../img/seta-header.svg') no-repeat center;
  margin-left: 12px;
  margin-bottom: -4px;
}

@media (max-width: 1150px) {
  .header {
    flex-direction: column;
    padding-top: 2.5rem;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 2.5rem 2rem 0 2rem;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .menu-btn {
    font-size: 1rem;
  }

  .menu-btn::after {
    margin-left: 25px;
  }
}
